In [29]:
import pandas as pd

In [30]:
# load python using pandas
filename = 'daily_retail_price_Onion-upto_apr_2015.csv'
defined_names = ['Date', 'Centre_Name', 'Commodity_Name', 'Price']
onion = pd.read_csv(filename, names=defined_names)

In [31]:
onion.shape

(127911, 4)

In [34]:
onion

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [22]:
# load python using pandas
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pima = pd.read_csv(filename, names=defined_names)

In [23]:
pima.shape

(768, 9)

In [24]:
pima

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]