# functions in python

In [ ]:
import numpy as np

In [ ]:
np

In [ ]:
x = 20
print(type(x))

In [ ]:
# functions, subroutines, methods, procedure
def yourfunc():
    print("This is function definition")

yourfunc() # This is a function call

In [ ]:
print(type(yourfunc))

# pass data as an argument to function

In [ ]:
def yourfunc(b): 
    b = b ** 3
    print(b)

p = int(input())
yourfunc(p)
#print(b)

# return data using 'return' from a function

In [ ]:
def yourfunc(b): 
    b = b ** 2
    return b

p = 40
x = yourfunc(p)
print(x)

# pass more than one value to a function

In [ ]:
def yourfunc(b,c,d): 
    print(b,c,d)
    return b*c*d

p = 10
q = 20
r = 30
print(yourfunc(p,q,r))

# pass a list, set, dictionary and set to function

In [ ]:
def yourfunc(b): 
    print(b)

p = (3,4,67)
yourfunc(p)

In [11]:
newtuple = (23,56,78,(34.5,67,"Rohit"))
print(newtuple)
#newtuple[3][1] = 63
#print(newtuple)
#print(newtuple[3][1])

(23, 56, 78, (34.5, 67, 'Rohit'))

TypeError: 'tuple' object does not support item assignment

In [12]:
def yourfunc(b,c,d):
    d[5] = 45
    print(b)
    print(c)
    print(d)

p = (3,4,67)
q = {34,56,78}
r = {3:56,6:78,12:33}
yourfunc(p,q,r)
print(p,q,r)

(3, 4, 67)
{56, 34, 78}
{3: 56, 6: 78, 12: 33, 5: 45}
(3, 4, 67) {56, 34, 78} {3: 56, 6: 78, 12: 33, 5: 45}

# return a set, list, tuple or a dictionary

In [ ]:
def yourfunc(): 
    b = [23,45,79]
    return b

print(yourfunc())
z = yourfunc()
print(z)

In [ ]:
def yourfunc(two):
    #print("new function")
    two()
    
def one():
    print("This function")
    
yourfunc(one)

In [ ]:
def yourfunc(): 
    b = (23,45,79)
    return b

print(yourfunc())

In [ ]:
def yourfunc(): 
    b = {23,45,79}
    return b

print(yourfunc())

In [ ]:
def yourfunc(): 
    b = 23; c = 45; d = 60
    return b,c,d

print(yourfunc())
p,q,r = yourfunc()
print(p,q,r)

In [ ]:
x,y,z = 45,67,78
print(y)

In [ ]:
x = 45; y = 55;
x,y = 55,45
print(x)
print(y)

In [ ]:
x = 45,67,78
print(type(x))
print(x)

In [13]:
def yourfunc(): 
    b = (23,56);  c = {45,66}; d = [2,5,7]
    return b,c,d

p = yourfunc()
print(p)
print(type(p))
print(type(yourfunc))
z = yourfunc
print(z)
print(type(z))
# what is the type of p
p,q,r = yourfunc()
print(p,type(p))
print(q,type(q))
print(r,type(r))

((23, 56), {66, 45}, [2, 5, 7])
<class 'tuple'>
<class 'function'>
<function yourfunc at 0x00000225F95C9630>
<class 'function'>
(23, 56) <class 'tuple'>
{66, 45} <class 'set'>
[2, 5, 7] <class 'list'>

In [ ]:
def yourfunc(): 
    b = {23:1,45:12,79:"John"}
    return b

print(yourfunc())

In [ ]:
def newfunc():
    return 5,10

x,y = newfunc()
print(x,y)

# default function arguments

In [20]:
#Python program that shows default arguments

def greetings(name="Karthik", msg="Good morning!"):
    print("Hello", name + ', ' + msg)

#greetings("Hrishikesh")
#greetings("Shalini", "How do you do?")
#greetings()
#greetings(msg="How do you do")
#greetings("","How do you do")
#greetings("How do you do")

Hello , How do you do

In [ ]:
#Python program that shows default arguments

def calculatearea(length=20, breadth=5):
    return length * breadth

print(calculatearea()) 
print(calculatearea(10)) 
print(calculatearea(breadth=15))
print(calculatearea(15))

In [32]:
#Python program that shows default arguments

def calculatearea(x,length=10,breadth=5):
    return x * length * breadth

#print(calculatearea()) 
#print(calculatearea(15)) 
#print(calculatearea(breadth=15))
print(calculatearea(23,5))

SyntaxError: invalid syntax (2440073336.py, line 9)

In [ ]:
num = int(input("Give a number  "))
for trace in range(2,num):
    flag = 0
    for val in range(2,trace)
        if trace % val == 0:
            flag = 1
            break
    if flag == 0:
        print(trace,end=" ")

In [ ]:
newset = {45,56,77,56}
print(newset)
#print(newset[1])

In [ ]:
# incldue stdio.h
int main()
{
    printf("Hello World")
    return 0;
}

In [ ]:
x = int(input("Give a number"))
print(type(x))