# one liner assignment

In [ ]:
x = 10; y = 30
x, y = y, x
print(x,y)

# slicing one liner

In [ ]:
print([10,20,30,40,50,60,70,80,90,100][1:5:1])

# one liner using list comprehension

In [ ]:
newlist = []
for num in range(1,11):
    newlist.append(num * num)
print(newlist)

# one liner for removing the duplicates

In [ ]:
print(" ".join(list(set(input("Give the numbers").split()))))

# displaying stocks data in one line

In [ ]:
stocks = {'HP' : 26, 'Microsoft' : 234, 'Accenture' : 263, 'Apple' : 126,
             'Tesla' : 112, 'Google' : 86, 'Dell' : 38, 'Amazon' :81 }
top_stocks = []
for key, val in stocks.items():
    if val >= 175:
        top_stocks.append((key,val))
print(top_stocks)

In [ ]:
print([(k, v) for k, v in stocks.items() if v >= 175])

In [ ]:
print([(k, v) for k, v in stocks.items() if v <= 175])

# factorial of a number

In [ ]:
from functools import reduce
print(reduce(lambda x, y: x * y, range(1, int(input())+1)))

# reverse the words in a sentence

In [ ]:
print(" ".join(list(reversed(input("Give a sentence ").split()))))

# print perfect numbers using list comprehension

In [ ]:
for val in range(2,10001):
    sum = 0
    for num in range(1,val):
        if val % num == 0:
            sum = sum + num
    if sum == val:
        print(val,end=" ")

In [ ]:
print([p for p in range(1,10001) if sum(y for y in range(1,p) if x%y==0)==p])

# print all primes in the given range using list comprehension

In [ ]:
# print all the primes from 1 to 200
for num in range(2,100):
    flag = 0
    for val in range(2,num):
        if num % val == 0:
            flag = 1
            break
    if flag == 0:
        print(num,end=" ")

In [ ]:
print([x for x in range(2, 101) if all(x % y != 0 for y in range(2, x))])

In [ ]:
print(list(filter(lambda x:all(x % y != 0 for y in range(2, x)), range(2, int(input())))))

# use of 'any' function in one liner

In [ ]:
## Data
companies = {
'GreatIndustries' : {'Raj' : 37, 'Ranjith' : 28, 'Greeshma' : 27},
'SportsUtilities' : {'Reshma' : 8, 'Greg' : 9, 'Daniel' : 7},
'FrankfurtCements' : {'Samuel' : 38, 'Sanjay' : 7, 'Vasanthi' : 17}}
## One-Liner
illegal = [x for x in companies if any(y<9 for y in companies[x].values())]
## Result
print(illegal)

In [ ]:
## Data
txt = ['lambda functions are anonymous functions.',
'anonymous functions dont have a name.',
'functions are objects in Python.']
## One-Liner
print(list(map(lambda s: (True, s) if 'anonymous' in s else (False, s), txt)))

In [ ]:
## Data
txt = ['lambda functions are anonymous functions.',
'anonymous functions dont have a name.',
'functions are objects in Python.']
## One-Liner
print([(True, s) if 'anonymous'in s else (False,s) for s in txt])

# reading a file in one line

In [ ]:
filename = "newfile.txt" # this code
f = open(filename)
lines = []
for line in f:
    lines.append(line.strip())
print(lines)

In [ ]:
print([line.strip() for line in open("newfile.txt")])

In [ ]:
## Data
letters_amazon = '''
We spent several years building our own database engine,
Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible
service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were
not surprised when this worked.
'''
## One-Liner
find = lambda x, q: x[x.find(q)-18:x.find(q)+18] if q in x else -1
print(find(letters_amazon, 'SQL'))

# one liner using matplotlib library

In [ ]:
## Dependencies
import matplotlib.pyplot as plt
## Data
cardiac_cycle = [62, 60, 62, 64, 68, 77, 80, 76, 71, 66, 61, 60, 62]
## One-Liner
expected_cycles = cardiac_cycle[1:-2] * 10
## Result
plt.plot(expected_cycles)
plt.show()

In [ ]:
plt.plot([62, 60, 62, 64, 68, 77, 80, 76, 71, 66, 61, 60, 62][1:-2] * 10)

In [1]:
import pandas as pd
filename = "train_university_admission_data.csv"
names = ['admit','gre','gpa','prestige']
dfTrain = pd.read_csv(filename, names=names)
dfTrain.head()

   admit  gre   gpa  prestige
0  admit  gre   gpa  prestige
1      0  380  3.61      good
2      1  660  3.67      good
3      1  800     4      best
4      1  640  3.19        ok

In [2]:
dfTrain.describe()

       admit  gre  gpa  prestige
count    301  301  301       301
unique     3   26  122         5
top        0  800    4  veryGood
freq     208   22   20       107

In [3]:
dfTrain

     admit  gre   gpa  prestige
0    admit  gre   gpa  prestige
1        0  380  3.61      good
2        1  660  3.67      good
3        1  800     4      best
4        1  640  3.19        ok
..     ...  ...   ...       ...
296      0  520  3.25      good
297      0  560  3.16      best
298      0  460  3.07  veryGood
299      0  540   3.5  veryGood
300      0  720   3.4      good

[301 rows x 4 columns]

In [4]:
dfTrain.gre.describe(include='all')

count     301
unique     26
top       800
freq       22
Name: gre, dtype: object

In [6]:
dfTrain.describe()

       admit  gre  gpa  prestige
count    301  301  301       301
unique     3   26  122         5
top        0  800    4  veryGood
freq     208   22   20       107